<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCweay8xEOIyQuBnxXTd4XxvLhqOhR2az0</string>
	<key>GCM_SENDER_ID</key>
	<string>705949305400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mock.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mock-dc92d</string>
	<key>STORAGE_BUCKET</key>
	<string>mock-dc92d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705949305400:ios:77a7a429fd11ecde9574cd</string>
</dict>
</plist>